<mat-toolbar>
  <button mat-stroked-button (click)="drawer.toggle()" class="side-menu-toggle-button"
    style="--mdc-outlined-button-outline-color: rgba(255 255 255 / 5%); margin-right: 1rem;">
    <span class="hamburger" [class.close]="drawerIsOpen()"><span></span></span>
  </button>
  <div>My App</div>
  <div style="margin-left: auto;">
    <app-dark-mode-toggle></app-dark-mode-toggle>
  </div>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="push" closed class="side-nav" [autoFocus]="false" (openedStart)="drawerChanged(true)"
    (closedStart)="drawerChanged(false)">
    <ul>
      <li>
        <button mat-button [routerLink]="''" (click)="drawer.close()">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </li>
      <li>
        <button mat-button [routerLink]="'pg'" (click)="drawer.close()">
          <mat-icon>experiment</mat-icon>
          <span>Playground</span>
        </button>
      </li>
      <li>
        <button mat-button [routerLink]="'chart'" (click)="drawer.close()">
          <mat-icon>insert_chart</mat-icon>
          <span>Chart</span>
        </button>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content #container>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
@if (isLoadingRoute()) {
<mat-progress-bar class="full-screen-loading" mode="indeterminate"></mat-progress-bar>
}
<app-full-screen-loading></app-full-screen-loading>