<mat-expansion-panel (opened)="openEvent()" [expanded]="showContent()" [disabled]="disabled()"
    [hideToggle]="hideToggle()">
    <mat-expansion-panel-header [class.prevent-close]="preventClose()">
        <mat-panel-title>
            @if (icon()) {
            <mat-icon>{{icon()}}</mat-icon>
            }
            @else if (iconPath()) {
            <img class="icon-img" [src]="iconPath()" alt="header-icon" />
            }
            <span class="accordion-title">{{title()}}</span>
            @if (description()) {
            <mat-panel-description class="accordion-description">
                {{description()}}
            </mat-panel-description>
            }
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template [cdkPortalOutlet]="portal"></ng-template>
</mat-expansion-panel>