* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--material-font, sans-serif);
}

.drawer-container {
  height: calc(100% - var(--mat-toolbar-standard-height, 64px));

  & .side-nav {
    height: 100%;
    width: 225px;

    & ul {
      padding: 0;
      margin: 0;
      position: relative;

      & li {
        list-style: none;

        & button {
          width: 100%;
          text-align: left;
          border-radius: 0;
          font-size: 1.1em;
          padding: 1.5rem;
          display: flex;
          justify-content: flex-start;

          & mat-icon {
            font-size: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            transition: all 250ms ease;
            font-variation-settings: "FILL" 0;
          }

          &:hover mat-icon {
            font-variation-settings: "FILL" 1;
          }
        }
      }
    }
  }
}

button.side-menu-toggle-button {
  min-width: 45px;
  width: 45px;
  padding: 0;
  height: 35px;

  &:hover .hamburger:not(.close) span::before,
  &:hover .hamburger:not(.close) span::after {
    transform: scaleX(60%);
  }

  & .hamburger {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 10px);
    width: 20px;
    height: 14px;

    & span {
      position: relative;
      display: block;
      width: 20px;
      height: 2px;
      margin-top: 6px;
      background-color: var(--on-primary-color);
      transition: all 400ms ease;

      &::before,
      &::after {
        display: block;
        content: "";
        height: 2px;
        width: 100%;
        background-color: var(--on-primary-color);
        position: absolute;
        transition: all 400ms ease;
        left: auto;
        right: 0;
      }

      &::before {
        top: -6px;
      }

      &::after {
        bottom: -6px;
      }
    }

    &:not(.close) span::before {
      transform-origin: right;
      transform: scaleX(100%);
    }

    &:not(.close) span::after {
      transform-origin: left;
      transform: scaleX(100%);
    }

    &.close span {
      rotate: 180deg;

      &::before,
      &::after {
        width: 10px;
      }

      &::before {
        top: -4px;
        rotate: 45deg;
      }

      &::after {
        bottom: -4px;
        rotate: -45deg;
      }
    }
  }
}

.date-buttons-container {
  position: absolute;
  width: 20px;
  top: 0;
  right: 0;
  z-index: 10;
  margin-top: 8px;
  display: grid;
  gap: 2px;
  grid-template-rows: repeat(2, 20px);
  place-items: center;

  & > button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    color: var(--mat-sys-on-surface-variant);

    &:hover,
    &:focus-visible {
      outline: 1px solid rgba(0 0 0 / 1%);
      background-color: rgba(0 0 0 / 5%);
    }
  }
}

.mat-form-field-disabled .date-buttons-container > button {
  color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);
}
