@use "@angular/material" as mat;

html {
  /* My color theme */
  --primary-color: light-dark(#030303, #f1f1f1);
  --primary-color-75: color-mix(in srgb, var(--primary-color), transparent 25%);
  --primary-color-50: color-mix(in srgb, var(--primary-color), transparent 50%);
  --primary-color-25: color-mix(in srgb, var(--primary-color), transparent 75%);
  --primary-color-05: color-mix(in srgb, var(--primary-color), transparent 95%);
  --on-primary-color: light-dark(#f1f1f1, #030303);
  --on-primary-color-75: color-mix(
    in srgb,
    var(--on-primary-color),
    transparent 25%
  );
  --secondary-color: light-dark(#7a32d6, #d7baff);
  --on-secondary-color: light-dark(#ffffff, #440088);
  --border-color: light-dark(#747878, #8e9192);
  --border-variant-color: light-dark(#c4c7c7, #444748);
  --form-field-color: light-dark(#e6e6e6, #1c1c1c);
  --on-form-field-color: light-dark(#030303, #f1f1f1);
  --background-color: light-dark(#fdf8f8, #0a0a0a);
  --on-background-color: light-dark(#1c1b1b, #e5e2e1);
  /* card color */
  --surface-color: light-dark(#fdf8f8, #141313);
  --on-surface-color: light-dark(#1c1b1b, #e5e2e1);

  --border-radius: 8px;

  --material-font: "Outfit", sans-serif;

  /* COLOR SYSTEM VARIABLES */
  color-scheme: light;

  /* Primary palette variables */
  --mat-sys-primary: var(--primary-color);
  --mat-sys-on-primary: var(--on-primary-color);
  --mat-sys-primary-container: var(--primary-color);
  --mat-sys-on-primary-container: var(--on-primary-color);
  --mat-sys-inverse-primary: light-dark(#c9c6c5, #5f5e5e);
  --mat-sys-primary-fixed: light-dark(#e5e2e1, #e5e2e1);
  --mat-sys-primary-fixed-dim: light-dark(#c9c6c5, #c9c6c5);
  --mat-sys-on-primary-fixed: light-dark(#1c1b1b, #1c1b1b);
  --mat-sys-on-primary-fixed-variant: light-dark(#474646, #474646);

  /* Secondary palette variables */
  --mat-sys-secondary: var(--secondary-color);
  --mat-sys-on-secondary: var(--on-secondary-color);
  --mat-sys-secondary-container: var(--primary-color);
  --mat-sys-on-secondary-container: var(--on-primary-color);
  --mat-sys-secondary-fixed: light-dark(#eddcff, #eddcff);
  --mat-sys-secondary-fixed-dim: light-dark(#d7baff, #d7baff);
  --mat-sys-on-secondary-fixed: light-dark(#290056, #290056);
  --mat-sys-on-secondary-fixed-variant: light-dark(#6100bd, #6100bd);

  /* Tertiary palette variables */
  --mat-sys-tertiary: light-dark(#5f5e5e, #c9c6c5);
  --mat-sys-on-tertiary: light-dark(#ffffff, #313030);
  --mat-sys-tertiary-container: light-dark(#e5e2e1, #474646);
  --mat-sys-on-tertiary-container: light-dark(#1c1b1b, #e5e2e1);
  --mat-sys-tertiary-fixed: light-dark(#e5e2e1, #e5e2e1);
  --mat-sys-tertiary-fixed-dim: light-dark(#c9c6c5, #c9c6c5);
  --mat-sys-on-tertiary-fixed: light-dark(#1c1b1b, #1c1b1b);
  --mat-sys-on-tertiary-fixed-variant: light-dark(#474646, #474646);

  /* Neutral palette variables */
  --mat-sys-background: var(--background-color);
  --mat-sys-on-background: var(--on-background-color);
  --mat-sys-surface: var(--surface-color);
  --mat-sys-surface-dim: light-dark(#ddd9d8, #141313);
  --mat-sys-surface-bright: light-dark(#fdf8f8, #3a3939);
  --mat-sys-surface-container-low: light-dark(#f7f3f2, #1c1b1b);
  --mat-sys-surface-container-lowest: light-dark(#ffffff, #0e0e0e);
  --mat-sys-surface-container: light-dark(#f1edec, #201f1f);
  --mat-sys-surface-container-high: light-dark(#ebe7e6, #2b2a2a);
  --mat-sys-surface-container-highest: light-dark(#e5e2e1, #353434);
  --mat-sys-on-surface: var(--on-surface-color);
  --mat-sys-shadow: light-dark(#000000, #000000);
  --mat-sys-scrim: light-dark(#000000, #000000);
  --mat-sys-surface-tint: light-dark(#5f5e5e, #c9c6c5);
  --mat-sys-inverse-surface: light-dark(#313030, #e5e2e1);
  --mat-sys-inverse-on-surface: light-dark(#f4f0ef, #313030);
  --mat-sys-outline: var(--border-color);
  --mat-sys-outline-variant: var(--border-variant-color);
  --mat-sys-neutral10: light-dark(#1c1b1b, #1c1b1b);
  /* Variable used for the form field native select option text color */

  /* Error palette variables */
  --mat-sys-error: light-dark(#bb171c, #ffb4ac);
  --mat-sys-on-error: light-dark(#ffffff, #690006);
  --mat-sys-error-container: light-dark(#ffdad6, #93000d);
  --mat-sys-on-error-container: light-dark(#410002, #ffdad6);

  /* Neutral variant palette variables */
  --mat-sys-surface-variant: var(--form-field-color);
  --mat-sys-on-surface-variant: var(--on-form-field-color);
  --mat-sys-neutral-variant20: light-dark(#2d3132, #2d3132);
  /* Variable used for the sidenav scrim (container background shadow when opened) */

  /* TYPOGRAPHY SYSTEM VARIABLES */

  /* Typography variables. Only used in the different typescale system variables. */
  --mat-sys-brand-font-family: var(
    --material-font
  ); /* The font-family to use for brand text. */
  --mat-sys-plain-font-family: var(
    --material-font
  ); /* The font-family to use for plain text. */
  --mat-sys-bold-font-weight: 700; /* The font-weight to use for bold text. */
  --mat-sys-medium-font-weight: 500; /* The font-weight to use for medium text. */
  --mat-sys-regular-font-weight: 400; /* The font-weight to use for regular text. */

  /* Typescale variables. */
  /* Warning: Risk of reduced fidelity from using the composite typography tokens (ex. --mat-sys-body-large) since
     tracking cannot be represented in the "font" property shorthand. Consider using the discrete properties instead. */
  --mat-sys-body-large: var(--mat-sys-body-large-weight)
    var(--mat-sys-body-large-size) / var(--mat-sys-body-large-line-height)
    var(--mat-sys-body-large-font);
  --mat-sys-body-large-font: var(--mat-sys-plain-font-family);
  --mat-sys-body-large-line-height: 1.5rem;
  --mat-sys-body-large-size: 1rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: var(--mat-sys-regular-font-weight);

  /* Body medium typescale */
  --mat-sys-body-medium: var(--mat-sys-body-medium-weight)
    var(--mat-sys-body-medium-size) / var(--mat-sys-body-medium-line-height)
    var(--mat-sys-body-medium-font);
  --mat-sys-body-medium-font: var(--mat-sys-plain-font-family);
  --mat-sys-body-medium-line-height: 1.25rem;
  --mat-sys-body-medium-size: 0.875rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-medium-weight: var(--mat-sys-regular-font-weight);

  /* Body small typescale */
  --mat-sys-body-small: var(--mat-sys-body-small-weight)
    var(--mat-sys-body-small-size) / var(--mat-sys-body-small-line-height)
    var(--mat-sys-body-small-font);
  --mat-sys-body-small-font: var(--mat-sys-plain-font-family);
  --mat-sys-body-small-line-height: 1rem;
  --mat-sys-body-small-size: 0.75rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-body-small-weight: var(--mat-sys-regular-font-weight);

  /* Display large typescale */
  --mat-sys-display-large: var(--mat-sys-display-large-weight)
    var(--mat-sys-display-large-size) / var(--mat-sys-display-large-line-height)
    var(--mat-sys-display-large-font);
  --mat-sys-display-large-font: var(--mat-sys-brand-font-family);
  --mat-sys-display-large-line-height: 4rem;
  --mat-sys-display-large-size: 3.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: var(--mat-sys-regular-font-weight);

  /* Display medium typescale */
  --mat-sys-display-medium: var(--mat-sys-display-medium-weight)
    var(--mat-sys-display-medium-size) /
    var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font);
  --mat-sys-display-medium-font: var(--mat-sys-brand-font-family);
  --mat-sys-display-medium-line-height: 3.25rem;
  --mat-sys-display-medium-size: 2.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: var(--mat-sys-regular-font-weight);

  /* Display small typescale */
  --mat-sys-display-small: var(--mat-sys-display-small-weight)
    var(--mat-sys-display-small-size) / var(--mat-sys-display-small-line-height)
    var(--mat-sys-display-small-font);
  --mat-sys-display-small-font: var(--mat-sys-brand-font-family);
  --mat-sys-display-small-line-height: 2.75rem;
  --mat-sys-display-small-size: 2.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: var(--mat-sys-regular-font-weight);

  /* Headline large typescale */
  --mat-sys-headline-large: var(--mat-sys-headline-large-weight)
    var(--mat-sys-headline-large-size) /
    var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font);
  --mat-sys-headline-large-font: var(--mat-sys-brand-font-family);
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: var(--mat-sys-regular-font-weight);

  /* Headline medium typescale */
  --mat-sys-headline-medium: var(--mat-sys-headline-medium-weight)
    var(--mat-sys-headline-medium-size) /
    var(--mat-sys-headline-medium-line-height)
    var(--mat-sys-headline-medium-font);
  --mat-sys-headline-medium-font: var(--mat-sys-brand-font-family);
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: var(--mat-sys-regular-font-weight);

  /* Headline small typescale */
  --mat-sys-headline-small: var(--mat-sys-headline-small-weight)
    var(--mat-sys-headline-small-size) /
    var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font);
  --mat-sys-headline-small-font: var(--mat-sys-brand-font-family);
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: var(--mat-sys-regular-font-weight);

  /* Label large typescale */
  --mat-sys-label-large: var(--mat-sys-label-large-weight)
    var(--mat-sys-label-large-size) / var(--mat-sys-label-large-line-height)
    var(--mat-sys-label-large-font);
  --mat-sys-label-large-font: var(--mat-sys-plain-font-family);
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: var(--mat-sys-medium-font-weight);
  --mat-sys-label-large-weight-prominent: var(--mat-sys-bold-font-weight);

  /* Label medium typescale */
  --mat-sys-label-medium: var(--mat-sys-label-medium-weight)
    var(--mat-sys-label-medium-size) / var(--mat-sys-label-medium-line-height)
    var(--mat-sys-label-medium-font);
  --mat-sys-label-medium-font: var(--mat-sys-plain-font-family);
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: var(--mat-sys-medium-font-weight);
  --mat-sys-label-medium-weight-prominent: var(--mat-sys-bold-font-weight);

  /* Label small typescale */
  --mat-sys-label-small: var(--mat-sys-label-small-weight)
    var(--mat-sys-label-small-size) / var(--mat-sys-label-small-line-height)
    var(--mat-sys-label-small-font);
  --mat-sys-label-small-font: var(--mat-sys-plain-font-family);
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: var(--mat-sys-medium-font-weight);

  /* Title large typescale */
  --mat-sys-title-large: var(--mat-sys-title-large-weight)
    var(--mat-sys-title-large-size) / var(--mat-sys-title-large-line-height)
    var(--mat-sys-title-large-font);
  --mat-sys-title-large-font: var(--mat-sys-brand-font-family);
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: var(--mat-sys-regular-font-weight);

  /* Title medium typescale */
  --mat-sys-title-medium: var(--mat-sys-title-medium-weight)
    var(--mat-sys-title-medium-size) / var(--mat-sys-title-medium-line-height)
    var(--mat-sys-title-medium-font);
  --mat-sys-title-medium-font: var(--mat-sys-plain-font-family);
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: var(--mat-sys-medium-font-weight);

  /* Title small typescale */
  --mat-sys-title-small: var(--mat-sys-title-small-weight)
    var(--mat-sys-title-small-size) / var(--mat-sys-title-small-line-height)
    var(--mat-sys-title-small-font);
  --mat-sys-title-small-font: var(--mat-sys-plain-font-family);
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: var(--mat-sys-medium-font-weight);

  /* ELEVATION SYSTEM VARIABLES */

  /* Box shadow colors. Only used in the elevation level system variables. */
  --mat-sys-umbra-color: color-mix(
    in srgb,
    var(--mat-sys-shadow),
    transparent 80%
  );
  --mat-sys-penumbra-color: color-mix(
    in srgb,
    var(--mat-sys-shadow),
    transparent 86%
  );
  --mat-sys-ambient-color: color-mix(
    in srgb,
    var(--mat-sys-shadow),
    transparent 88%
  );

  /* Elevation level system variables. These are used as the value for box-shadow CSS property. */
  --mat-sys-level0: 0px 0px 0px 0px var(--mat-sys-umbra-color),
    0px 0px 0px 0px var(--mat-sys-penumbra-color),
    0px 0px 0px 0px var(--mat-sys-ambient-color);
  --mat-sys-level1: 0px 2px 1px -1px var(--mat-sys-umbra-color),
    0px 1px 1px 0px var(--mat-sys-penumbra-color),
    0px 1px 3px 0px var(--mat-sys-ambient-color);
  --mat-sys-level2: 0px 3px 3px -2px var(--mat-sys-umbra-color),
    0px 3px 4px 0px var(--mat-sys-penumbra-color),
    0px 1px 8px 0px var(--mat-sys-ambient-color);
  --mat-sys-level3: 0px 3px 5px -1px var(--mat-sys-umbra-color),
    0px 6px 10px 0px var(--mat-sys-penumbra-color),
    0px 1px 18px 0px var(--mat-sys-ambient-color);
  --mat-sys-level4: 0px 5px 5px -3px var(--mat-sys-umbra-color),
    0px 8px 10px 1px var(--mat-sys-penumbra-color),
    0px 3px 14px 2px var(--mat-sys-ambient-color);
  --mat-sys-level5: 0px 7px 8px -4px var(--mat-sys-umbra-color),
    0px 12px 17px 2px var(--mat-sys-penumbra-color),
    0px 5px 22px 4px var(--mat-sys-ambient-color);

  /* SHAPE SYSTEM VARIABLES */
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-full: 9999px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-none: 0;
  --mat-sys-corner-small: 8px;

  /* STATE SYSTEM VARIABLES */
  --mat-sys-dragged-state-layer-opacity: 0.16;
  --mat-sys-focus-state-layer-opacity: 0.12;
  --mat-sys-hover-state-layer-opacity: 0.08;
  --mat-sys-pressed-state-layer-opacity: 0.12;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--primary-color),
      container-text-color: var(--on-primary-color),
      standard-height: 64px,
      title-text-size: 20px,
      title-text-weight: 500,
    )
  );

  @include mat.sidenav-overrides(
    (
      container-shape: 0,
    )
  );

  @include mat.fab-overrides(
    (
      container-shape: 100%,
      small-container-shape: 100%,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: var(--border-radius),
      outlined-container-shape: var(--border-radius),
      protected-container-shape: var(--border-radius),
      text-container-shape: var(--border-radius),
    )
  );

  @include mat.icon-button-overrides(
    (
      state-layer-size: 48px,
    )
  );

  @include mat.dialog-overrides(
    (
      container-shape: var(--mat-sys-corner-large),
      container-elevation-shadow: var(--mat-sys-level5),
      container-max-width: 80vw,
    )
  );

  @include mat.datepicker-overrides(
    (
      calendar-container-elevation-shadow: var(--mat-sys-level2),
      calendar-container-touch-elevation-shadow: var(--mat-sys-level2),
      calendar-date-in-range-state-background-color: var(--primary-color-25),
      calendar-container-shape: var(--border-radius),
      calendar-container-touch-shape: var(--border-radius),
    )
  );

  @include mat.progress-bar-overrides(
    (
      track-color: var(--primary-color-25),
    )
  );

  @include mat.slide-toggle-overrides(
    (
      selected-icon-color: var(--primary-color),
      selected-handle-color: var(--on-primary-color),
      selected-focus-handle-color: var(--on-primary-color-75),
      selected-hover-handle-color: var(--on-primary-color-75),
      selected-focus-track-color: var(--primary-color),
      unselected-icon-color: var(--on-primary-color),
      unselected-handle-color: var(--primary-color),
      unselected-focus-handle-color: var(--primary-color-75),
      unselected-hover-handle-color: var(--primary-color-75),
      unselected-pressed-handle-color: var(--primary-color),
      selected-pressed-handle-color: var(--on-primary-color),
    )
  );

  @include mat.menu-overrides(
    (
      container-elevation-shadow: var(--mat-sys-level5),
    )
  );

  @include mat.expansion-overrides(
    (
      container-shape: var(--mat-sys-corner-medium),
    )
  );

  @include mat.button-toggle-overrides(
    (
      shape: var(--border-radius),
    )
  );

  @include mat.slider-overrides(
    (
      inactive-track-color: var(--primary-color-75),
    )
  );
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.icon-filled {
  font-variation-settings: "FILL" 1;
}
