.demo-section + .demo-section {
  margin-top: 16px;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 140px;
}

.example-card {
  max-width: 400px;
}

.example-card-footer {
  padding: 16px;
}

.example-section {
  margin: 12px 0;
}

/* toggle */

.toggle-container {
  display: grid;
  grid-template-columns: 32px 60px 32px;
  gap: 0.5rem;
  place-items: center;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 140px;

  & .icon-check {
    color: green;
  }

  & .icon-close {
    color: var(--mat-sys-error);
  }

  & .toggle {
    border-radius: 100vw;
    width: 100%;
    border: 2px solid var(--border-color);
    position: relative;
    cursor: pointer;
    background-color: green;
    transition: background-color 400ms ease;
    height: 32px;
    box-sizing: border-box;

    &.red {
      background-color: var(--mat-sys-error);

      & .handle {
        left: calc(100% - 4px - 24px);
      }
    }

    & .handle {
      position: absolute;
      top: 2px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: white;
      transition: all 500ms
        linear(
          0,
          1 44.7%,
          0.898 51.8%,
          0.874 55.1%,
          0.866 58.4%,
          0.888 64.3%,
          1 77.4%,
          0.98 84.5%,
          1
        );
      left: 4px;
    }
  }
}
